.ipynb_checkpoints/Unit_1_Regression_blank-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/Unit_1_Regression_blank-Copy1-checkpoint.ipynb
.ipynb_checkpoints/Unit_2-Linear Algebra_blank-checkpoint.ipynb
.ipynb_checkpoints/functions1-checkpoint.py
